Programowanie w języku Java/lab12/src/xsd/offer.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="offer" type="offer"/>


  <xs:complexType name="offer">
    <xs:sequence>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="office" type="xs:string" minOccurs="0"/>
      <xs:element name="data" type="xs:string" minOccurs="0"/>
      <xs:element name="price" type="xs:string" minOccurs="0"/>
      <xs:element name="facilities" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>