Programowanie w języku Java/lab13/advertisement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ad" type="adType" />
	<xs:complexType name="adType">
		<xs:sequence>
			<xs:element type="xs:integer" name="id" />
			<xs:element type="xs:string" name="time" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>